* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 100px auto;
    justify-content: center;
}

.row {
    display: flex;
    justify-content: center;
}

.cell {
    width: 32px;
    height: 32px;
    border: 1px solid black;
}